.main-wrap{
    @include layout(100%, 640px);

    .inner{
        position: relative;

        video{
            @include layout(100%, 100%);
            border-radius: 24px;
            object-fit: fill;
        }
        .main-text{
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            @include font($ns, 96px, transparent);
            -webkit-text-stroke: 2px #fff;
        }
        .sub-text{
            position: absolute;
            top: 65%;
            left: 50%;
            transform: translate(-50%, -50%);
            @include font($ns, 32px, #ffffff70);
        }
    }
}

.worldcup-section{
    .worldcup-sction__content-wrap{
        @include flex();
        gap: 16px;
        @include layout(100%, 400px);

        .worldcup-sction__bg{
            @include layout(70%, 100%);
            padding: 24px;
            background-color: #4A628A;
            border-radius: 16px;
            font-size: 40px;
            
            img{
                @include layout(100%, 100%);
                object-fit: cover;
                object-position: 50% 100%
            }
        }
        .worldcup-sction__content{
            @include flex(center, center, column);
            gap: 16px;
            @include layout(30%, 100%);

            .recommend-destination, .worldcup-link{
                @include flex(flex-start, space-between, column);
                @include layout(100%, 50%);
                padding: 32px;
                border-radius: 16px;
            }
            .recommend-destination{
                height: 60%;
                background-color: #7AB2D3;

                h4.section-title{
                    color: #fff;
                }
                .selected-country--wrap{
                    @include flex();
                    @include layout(110px, 110px);
                    margin: 0 auto;
                    background-color: #ddd;
                    border-radius: 50%;
                }
            }
            .worldcup-link{
                height: 40%;
                background-color: #87A2FF;
                cursor: pointer;

                .section-title{
                    color: #fff;
                }
                .link-wrap{
                    @include flex(center, flex-end);
                    gap: 8px;
                    width: 100%;

                    a, img{
                        transition: all 0.3s;
                    }
                    a{
                        color: #ddd;
                    }
                    img{
                        filter: grayscale(100%);
                    }
                }
                &:hover{
                    .link-wrap{
                        a{
                            color: #fff;
                        }
                        img{
                            filter: invert(100%);
                        }
                    }
                }
            }
        }
    }
}

.recommend-destination-section{
    margin-bottom: 80px;
    @include layout(100%, auto);

    .recommend-content--wrap{
        @include flex(center, space-between);
    }
    .recommend-content{
        .destination-img--wrap{
            margin-bottom: 24px;
            border-radius: 16px;
            overflow: hidden;
        }
        .destination-img{
            transition: all 0.8s;
            cursor: pointer;

            &:hover{
                transform: scale(1.1);
            }
        }
        .recommend-text--wrap{
            @include flex(center, space-between);
            width: 95%;
            margin: 0 auto;

            .destination-wrap{
                .city{
                    margin-bottom: 16px;
                    font-size: 28px;
                    font-weight: 500;
                }
                .country{
                    @include flex(center, flex-start);
                    gap: 6px;
                    font-size: 13px;
                    color: #a5a5a5;
                }
            }
            .rate-wrap{
                @include flex(center, space-between);
                @include layout(100px, 55px);
                padding: 20px;
                background-color: #379DF1;
                border-radius: 120px;

                img{
                    filter: brightness(0) invert(1);
                }
                .rate{
                    font-size: 14px;
                    color: #fff;
                    font-weight: 700;
                }
            }
        }
    }
}

.sale-section{
    .sale-content--wrap{
        @include flex(center, space-between);
        gap: 24px;
        flex-wrap: wrap;
    }
    .sale-content{
        > img{
            margin-bottom: 12px;
            border-radius: 8px;
        }
        .sale-text--wrap{
            @include flex(center, space-between, column);
            @include layout(100%, auto);
            
            .sale-text__top, .sale-text__bot{
                @include layout(100%, auto);
            }
            .sale-text__top{
                @include flex(center, space-between);
                margin-bottom: 24px;

                .sale-info{
                    .city{
                        margin-bottom: 8px;
                        font-size: 20px;
                    }
                }
                .sale-company{
                    @include flex(center, flex-start);
                    gap: 8px;
                }
            }
            .sale-text__bot{
                @include flex(center, space-between);

                .before-price--wrap{
                    position: relative;

                    .sale-percent{
                        position: absolute;
                        top: -16px;
                        left: 0;
                        font-size: 14px;
                        color: #379DF1;
                    }
                    .before-price{
                        color: #f00;
                        text-decoration: line-through;
                    }
                }
                .after-price{
                    font-size: 20px;
                }
            }
        }
    }
}

.review-section{
    .review-content--wrap{
        @include flex(center, space-around);
        gap: 24px;
        @include layout(100%, auto);

        .review-content{
            @include flex(center, center, column);
            @include layout(calc(100% / 3), auto);
            padding: 16px;
            background-color: #87A2FF;
            border-radius: 24px;

            &__profile{
                @include flex(center, center);
                @include layout(120px, 120px);
                margin-bottom: 24px;
                background-color: #e7e7e7;
                border-radius: 50%;
            }
            &__text-wrap{
                @include layout(100%, auto);
                padding: 24px;
                background-color: #fff;
                border-radius: 12px;

                .star-wrap{
                    @include flex();
                    gap: 12px;
                    @include layout(100%, auto);
                    margin-bottom: 32px;
                }
                .review-text{
                    font-size: 22px;
                    line-height: 1.4;
                    word-break: break-word;
                }
            }
        }
    }
}
