.worldcup-page{
    margin-top: 200px;

    .inner{
        @include flex(center, center, column);

        .sub-title{
            text-align: center;
            line-height: 1.6;
        }
        .start-btn{
            @include layout(200px, 50px);
            background-color: #87A2FF;
            border: none;
            border-radius: 8px;
            font-size: 16px;
            color: #fff;
            cursor: pointer;
        }
        .worldcup-content--wrap{
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            width: 0;
            background-color: transparent;
            border-radius: 50%;
            transition: all 0.5s;
            overflow: hidden;
        }
        .worldcup-content--wrap.bigger{
            width: 100%;
            height: 100%;
            background-color: #87A2FF;
            border-radius: 0%;
        }
    }
}

.worldcup-content{
    @include layout(100%, 100%);
    
    h3.worldcup-title{
        @include flex();
        position: relative;
        @include layout(100%, 80px);
        font-size: 32px;
        color: #fff;

        .content-percent{
            font-size: 20px;
            color: #fff;

            span{
                color: #3468C0;
            }
        }
        .process-bar{
            position: absolute;
            bottom: 0;
            left: 0;
            width: 0;
            height: 3px;
            background-color: #FA7070;
            transition: all 0.3s
        }
    }
    .worldcup-wrap{
        @include flex();
        @include layout(100%, calc(100% - 80px));
    
        .worldcup{
            @include layout(50%, 100%);
            transition: all 0.3s;
            cursor: pointer;
            overflow: hidden;
            
            img{
                @include layout(100%, 90%);
                transition: all 0.3s
            }
            h5.worldcup-title{
                position: relative;
                z-index: 9;
                @include flex();
                @include layout(100%, 10%);
                background-color: #87A2FF;
                font-size: 32px;
                font-weight: 400;
                color: #fff;
            }
            &:first-child{
                border-right: 3px solid #fff;
            }
        }
        .worldcup.clicked{
            img{
                transform: scale(1.3);
            }
        }
    }
}
.worldcup-content--wrap.close{
    @include layout(0, 0);
}