$primary : #379DF1;
$primary-05 : #379DF105;
$primary-10 : #379DF110;
$primary-20 : #379DF120;
$primary-30 : #379DF130;
$primary-40 : #379DF140;
$primary-50 : #379DF150;
$primary-60 : #379DF160;
$primary-70 : #379DF170;
$primary-80 : #379DF180;
$primary-90 : #379DF190;