// $primary : #379DF1;
// $primary-05 : #379DF105;
// $primary-10 : #379DF110;
// $primary-20 : #379DF120;
// $primary-30 : #379DF130;
// $primary-40 : #379DF140;
// $primary-50 : #379DF150;
// $primary-60 : #379DF160;
// $primary-70 : #379DF170;
// $primary-80 : #379DF180;
// $primary-90 : #379DF190;

$primary : #45658e;
$primary-05 : #45658e05;
$primary-10 : #45658e10;
$primary-20 : #45658e20;
$primary-30 : #45658e30;
$primary-40 : #45658e40;
$primary-50 : #45658e50;
$primary-60 : #45658e60;
$primary-70 : #45658e70;
$primary-80 : #45658e80;
$primary-90 : #45658e90;