* {
  box-sizing: border-box;
}

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

a {
  text-decoration: none;
  color: black;
}

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

* {
  font-family: "Noto Sans KR", sans-serif !important;
}

.inner {
  width: 100%;
  max-width: 1500px;
  height: 100%;
  margin: 0 auto;
}

section {
  margin-top: 60px;
}

h3.main-title {
  margin-bottom: 16px;
  font-size: 32px;
  font-weight: 600;
}

h4.sub-title {
  margin-bottom: 32px;
  font-size: 18px;
  font-weight: 500;
  color: #a5a5a5;
}

h4.section-title {
  font-size: 24px;
  font-weight: 500;
}

.main-wrap {
  width: 100%;
  height: 640px;
}
.main-wrap .inner {
  position: relative;
}
.main-wrap .inner video {
  width: 100%;
  height: 100%;
  border-radius: 24px;
  -o-object-fit: fill;
     object-fit: fill;
}
.main-wrap .inner .main-text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-family: "Noto Sans KR", sans-serif;
  font-size: 96px;
  color: transparent;
  -webkit-text-stroke: 2px #fff;
}
.main-wrap .inner .sub-text {
  position: absolute;
  top: 65%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-family: "Noto Sans KR", sans-serif;
  font-size: 32px;
  color: rgba(255, 255, 255, 0.4392156863);
}

.worldcup-section {
  margin-bottom: 60px;
}
.worldcup-section .worldcup-sction__content-wrap {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  gap: 16px;
  width: 100%;
  height: 400px;
}
.worldcup-section .worldcup-sction__content-wrap .worldcup-sction__bg {
  width: 70%;
  height: 100%;
}
.worldcup-section .worldcup-sction__content-wrap .worldcup-sction__bg img {
  width: 100%;
  height: 100%;
  border-radius: 16px;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: 50% 100%;
     object-position: 50% 100%;
}
.worldcup-section .worldcup-sction__content-wrap .worldcup-sction__content {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 16px;
  width: 30%;
  height: 100%;
}
.worldcup-section .worldcup-sction__content-wrap .worldcup-sction__content .recommend-destination, .worldcup-section .worldcup-sction__content-wrap .worldcup-sction__content .worldcup-link {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  flex-direction: column;
  width: 100%;
  height: 50%;
  padding: 32px;
  border-radius: 16px;
}
.worldcup-section .worldcup-sction__content-wrap .worldcup-sction__content .recommend-destination {
  height: 60%;
  background-color: #ddd;
}
.worldcup-section .worldcup-sction__content-wrap .worldcup-sction__content .recommend-destination p {
  width: 100%;
  text-align: end;
}
.worldcup-section .worldcup-sction__content-wrap .worldcup-sction__content .recommend-destination p.recommend-empty {
  color: #a5a5a5;
}
.worldcup-section .worldcup-sction__content-wrap .worldcup-sction__content .worldcup-link {
  height: 40%;
  background-color: #87A2FF;
  cursor: pointer;
}
.worldcup-section .worldcup-sction__content-wrap .worldcup-sction__content .worldcup-link .section-title {
  color: #fff;
}
.worldcup-section .worldcup-sction__content-wrap .worldcup-sction__content .worldcup-link .link-wrap {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  flex-direction: row;
  gap: 8px;
  width: 100%;
}
.worldcup-section .worldcup-sction__content-wrap .worldcup-sction__content .worldcup-link .link-wrap a, .worldcup-section .worldcup-sction__content-wrap .worldcup-sction__content .worldcup-link .link-wrap img {
  transition: all 0.3s;
}
.worldcup-section .worldcup-sction__content-wrap .worldcup-sction__content .worldcup-link:hover .link-wrap a {
  color: #fff;
}
.worldcup-section .worldcup-sction__content-wrap .worldcup-sction__content .worldcup-link:hover .link-wrap img {
  filter: invert(100%);
}

.worldcup-page {
  margin-top: 200px;
}
.worldcup-page .inner {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.worldcup-page .inner .sub-title {
  text-align: center;
  line-height: 1.6;
}
.worldcup-page .inner .start-btn {
  width: 200px;
  height: 50px;
  background-color: #87A2FF;
  border: none;
  border-radius: 8px;
  font-size: 16px;
  color: #fff;
  cursor: pointer;
}
.worldcup-page .inner .worldcup-content--wrap {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 0;
  background-color: transparent;
  border-radius: 50%;
  transition: all 0.5s;
  overflow: hidden;
}
.worldcup-page .inner .worldcup-content--wrap.bigger {
  width: 100%;
  height: 100%;
  background-color: #87A2FF;
  border-radius: 0%;
}

.worldcup-wrap {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  width: 100%;
  height: 100%;
}
.worldcup-wrap .worldcup {
  width: 50%;
  height: 100%;
  cursor: pointer;
}

header {
  width: 100%;
  height: 80px;
  box-shadow: 0px 0px 20px 0px #f0f0f0;
}
header .inner {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: row;
}
header .inner .menu-wrap {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  flex-direction: row;
  gap: 32px;
}
header .inner .menu-wrap ul {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-direction: row;
  gap: 16px;
}
header .inner .menu-wrap ul li a {
  font-size: 18px;
  transition: all 0.3s;
}
header .inner .menu-wrap ul li a:hover {
  color: #45658e;
}
header .inner .menu-wrap .profile-wrap {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  width: 60px;
  height: 60px;
  background-color: #eee;
  border-radius: 50%;
}/*# sourceMappingURL=style.css.map */